<mat-toolbar class="footer">
    <div class="redes">
        <span class="title">ANKARA STORE</span>

        <div>
            <button mat-icon-button >
                <img src="facebook.svg">
            </button>
            <button mat-icon-button >
                <img src="linkedin.svg">
            </button>
            <button mat-icon-button >
                <img src="youtube.svg">
            </button>
            <button mat-icon-button>
                <img src="instagram.svg">
            </button>
        </div>
    </div>
    <span class="spacer"></span>
    <span class="spacer"></span>
    <div class="info">
        <span class="text">Contacto</span>
        <span class="text">Kra 61 # 7 - 56</span>
        <span class="text">+57 313 439 37 43</span>
        <span class="text">{{"afpineda1@poligran.edu.co"}}</span>
    </div>
</mat-toolbar>