.footer{
    background-image: url('/footer.jpg');
    height: 12%;
    background-size: cover;
    background-position-y: 54%;
    position: sticky;
    bottom: 0%;
}

.spacer{
    flex: 1 1 auto;
}

.title{
    color: whitesmoke;
    margin-bottom: 20%;
}

.redes{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-left: 10%;
}

.info{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    margin-right: 8%;
}

.text{
    color: whitesmoke;
    transform: scale(60%);
}