<mat-toolbar class="header">
    <button [matMenuTriggerFor]="menu" mat-icon-button class="butM">
        <mat-icon>menu</mat-icon>
    </button>  
    <span class="spacer"></span>
    <span class="title">ANKARA STORE</span>
    <span class="spacer"></span>
    <button mat-icon-button class="but" (click)="nav('user')">
        <mat-icon>person</mat-icon>
    </button>
    <button mat-icon-button class="but" (click)="nav('home')">
        <mat-icon>home</mat-icon>
    </button>
</mat-toolbar>

<mat-menu #menu="matMenu">

    @for (i of options; track $index) 
    {
        <button mat-menu-item (click)="nav(i.url)">{{i.name}}</button>
    }
    
</mat-menu>