<div class="content">

    <mat-card class="card">
        <mat-card-content class="card-cont">
            <img class="img-cont" src="comic.jpg">
        </mat-card-content>
        <mat-card-footer class="footer-card">
            <mat-card-title>Nombre Comic</mat-card-title>
            <mat-card-subtitle>$ 10.99</mat-card-subtitle>
            <mat-card-subtitle>Descripción Comic</mat-card-subtitle>
        </mat-card-footer>
    </mat-card>

    <mat-card class="card">
        <mat-card-content class="card-cont">
            <img class="img-cont" src="comic.jpg">
        </mat-card-content>
        <mat-card-footer class="footer-card">
            <mat-card-title>Nombre Comic</mat-card-title>
            <mat-card-subtitle>$ 10.99</mat-card-subtitle>
            <mat-card-subtitle>Descripción Comic</mat-card-subtitle>
        </mat-card-footer>
    </mat-card>

    <mat-card class="card">
        <mat-card-content class="card-cont">
            <img class="img-cont" src="comic.jpg">
        </mat-card-content>
        <mat-card-footer class="footer-card">
            <mat-card-title>Nombre Comic</mat-card-title>
            <mat-card-subtitle>$ 10.99</mat-card-subtitle>
            <mat-card-subtitle>Descripción Comic</mat-card-subtitle>
        </mat-card-footer>
    </mat-card>

    <mat-card class="card">
        <mat-card-content class="card-cont">
            <img class="img-cont" src="comic.jpg">
        </mat-card-content>
        <mat-card-footer class="footer-card">
            <mat-card-title>Nombre Comic</mat-card-title>
            <mat-card-subtitle>$ 10.99</mat-card-subtitle>
            <mat-card-subtitle>Descripción Comic</mat-card-subtitle>
        </mat-card-footer>
    </mat-card>

    <mat-card class="card">
        <mat-card-content class="card-cont">
            <img class="img-cont" src="comic.jpg">
        </mat-card-content>
        <mat-card-footer class="footer-card">
            <mat-card-title>Nombre Comic</mat-card-title>
            <mat-card-subtitle>$ 10.99</mat-card-subtitle>
            <mat-card-subtitle>Descripción Comic</mat-card-subtitle>
        </mat-card-footer>
    </mat-card>

    <mat-card class="card">
        <mat-card-content class="card-cont">
            <img class="img-cont" src="comic.jpg">
        </mat-card-content>
        <mat-card-footer class="footer-card">
            <mat-card-title>Nombre Comic</mat-card-title>
            <mat-card-subtitle>$ 10.99</mat-card-subtitle>
            <mat-card-subtitle>Descripción Comic</mat-card-subtitle>
        </mat-card-footer>
    </mat-card>

    <mat-card class="card">
        <mat-card-content class="card-cont">
            <img class="img-cont" src="comic.jpg">
        </mat-card-content>
        <mat-card-footer class="footer-card">
            <mat-card-title>Nombre Comic</mat-card-title>
            <mat-card-subtitle>$ 10.99</mat-card-subtitle>
            <mat-card-subtitle>Descripción Comic</mat-card-subtitle>
        </mat-card-footer>
    </mat-card>

    <mat-card class="card">
        <mat-card-content class="card-cont">
            <img class="img-cont" src="comic.jpg">
        </mat-card-content>
        <mat-card-footer class="footer-card">
            <mat-card-title>Nombre Comic</mat-card-title>
            <mat-card-subtitle>$ 10.99</mat-card-subtitle>
            <mat-card-subtitle>Descripción Comic</mat-card-subtitle>
        </mat-card-footer>
    </mat-card>

    <mat-card class="card">
        <mat-card-content class="card-cont">
            <img class="img-cont" src="comic.jpg">
        </mat-card-content>
        <mat-card-footer class="footer-card">
            <mat-card-title>Nombre Comic</mat-card-title>
            <mat-card-subtitle>$ 10.99</mat-card-subtitle>
            <mat-card-subtitle>Descripción Comic</mat-card-subtitle>
        </mat-card-footer>
    </mat-card>

    <mat-card class="card">
        <mat-card-content class="card-cont">
            <img class="img-cont" src="comic.jpg">
        </mat-card-content>
        <mat-card-footer class="footer-card">
            <mat-card-title>Nombre Comic</mat-card-title>
            <mat-card-subtitle>$ 10.99</mat-card-subtitle>
            <mat-card-subtitle>Descripción Comic</mat-card-subtitle>
        </mat-card-footer>
    </mat-card>

    <mat-card class="card">
        <mat-card-content class="card-cont">
            <img class="img-cont" src="comic.jpg">
        </mat-card-content>
        <mat-card-footer class="footer-card">
            <mat-card-title>Nombre Comic</mat-card-title>
            <mat-card-subtitle>$ 10.99</mat-card-subtitle>
            <mat-card-subtitle>Descripción Comic</mat-card-subtitle>
        </mat-card-footer>
    </mat-card>

    <mat-card class="card">
        <mat-card-content class="card-cont">
            <img class="img-cont" src="comic.jpg">
        </mat-card-content>
        <mat-card-footer class="footer-card">
            <mat-card-title>Nombre Comic</mat-card-title>
            <mat-card-subtitle>$ 10.99</mat-card-subtitle>
            <mat-card-subtitle>Descripción Comic</mat-card-subtitle>
        </mat-card-footer>
    </mat-card>
</div>