<div class="content">

        <mat-card class="card" *ngFor="let item of comics">
            <mat-card-content class="card-cont">
                <img class="img-cont" src="{{item.img}}">
            </mat-card-content>
            <mat-card-footer class="footer-card">
                <mat-card-title>{{item.name}}</mat-card-title>
                <mat-card-subtitle>$ {{item.price}}</mat-card-subtitle>
                <mat-card-subtitle>{{item.description}}</mat-card-subtitle>
            </mat-card-footer>
        </mat-card>
</div>