<div class="content">

    <mat-card class="card">
        <mat-card-header >
            <mat-card-title class="title">Usuario</mat-card-title>
        </mat-card-header>
        <mat-card-content class="content-card">
            <mat-form-field appearance="fill">
                <mat-label>Usuario</mat-label>
                <input matInput >
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Nombre</mat-label>
                <input matInput >
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Correo</mat-label>
                <input matInput >
            </mat-form-field>
            <mat-form-field appearance="fill" >
                <mat-label>Telefono</mat-label>
                <input matInput>
            </mat-form-field>
        </mat-card-content>
        <mat-card-actions >
            <button mat-stroked-button class="but">
                Cambiar Contraseña
            </button>
        </mat-card-actions>
    </mat-card>
</div>