<div class="content">

    <mat-card class="card">
        <mat-card-content >
            <button mat-button class="button">
                <h1 class="title">Editor 1</h1>
            </button>
        </mat-card-content>
    </mat-card>

    <mat-card class="card">
        <mat-card-content >
            <button mat-button class="button">
                <h1 class="title">Editor 2</h1>
            </button>
        </mat-card-content>
    </mat-card>

    <mat-card class="card">
        <mat-card-content >
            <button mat-button class="button">
                <h1 class="title">Editor 3</h1>
            </button>
        </mat-card-content>
    </mat-card>
     
    <mat-card class="card">
        <mat-card-content >
            <button mat-button class="button">
                <h1 class="title">Editor 4</h1>
            </button>
        </mat-card-content>
    </mat-card>

</div>